/* Every webpages */

* {
  color: #c7395f;
}

body {
  background-color: #ded4e8;
}

/* index.html */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:#de9dc2;
  color:#c7395f;
  padding: 0.5rem;
  z-index: 1000;
}

.container {
  max-width: 120rem;
  max-height: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 1rem;
  padding: 1rem;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-button {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.navbar-button:hover {
  background-color: #f9ec7e;
  color: #c7395f;
}

#introduction {
  text-align: justify;
  font-size: 1.2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 0.5rem;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .navbar-links {
    gap: 0.25rem;
  }
  .navbar-button {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
  }
  .navbar-title {
    font-size: 1.5rem;
  }
}

/* Introduction Page */

.home {
  background-color:#ded4e8;
  color:#c7395f;
  padding-top: 3rem;
  padding: 10rem 0;
  text-align: left;
  border-radius: 1.5rem;
  min-height: calc(100vh - 3rem);
  box-sizing: border-box;
  scroll-margin-top: 3rem;
}

.home-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-weight: bold;
}

.home-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  flex: 1;
}

.home-subtitle {
  font-size: 1.5rem;
  margin-left: 1rem;
  flex: 1;
}

.home-name {
  font-size: 5rem;
}

.waving-hands {
  display: inline-block;
  animation-name: waving-hands;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* Keyframes for the hand-waving animation */
@keyframes waving-hands {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
}

#main_page {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 2.5rem;
  padding: 3rem;
}

#contact_me {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem;
}

#my_projects {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem;
}

h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
  background-color: #e8ba40;
  border-radius: 0.5rem;
}

h3:hover {
  background-color: #f9ec7e;
  animation-name: font-changes;
  animation-duration: 2s;
}

/* Keyframes for the font size changing animation */
@keyframes font-changes {
  0% {
    font-size: 2rem;
  }
  50% {
    font-size: 2.1rem;
  }
  100% {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1.1rem;
}

.pic_icon {
  width: 2rem;
  float: right;
  margin: 0rem 2rem 0rem 0rem;
}

.uni_location {
  float: right;
}

.images {
  width: 30%;
  transition: transform 0.5s ease;
}

.images:hover {
  transform: scale(1.1);
}

.personal_images {
  display: gird;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.description {
  text-align: justify;
  margin: 1rem;
}

#contact-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 2fr);
  gap: 15px 10px;
  justify-items: stretch;
  align-items: stretch;
  margin-left: 3rem;
  padding: 0.5rem;
  justify-content: center;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.first_name {
  background-color: #f9ec7e;
  grid-column: 1 / 6;
  grid-row: 1 / 1;
  border-radius: 0.5rem;
}

.second_name {
  background-color: #f9ec7e;
  grid-column: 7 / 12;
  grid-row: 1 / 1;
  border-radius: 0.5rem;
}

.emails {
  background-color: #f9ec7e;
  grid-column: 1 / 12;
  grid-row: 2 / 2;
  border-radius: 0.5rem;
}

.region_code {
  background-color: #f9ec7e;
  grid-column: 1 / 4;
  grid-row: 3 / 3;
  border-radius: 0.5rem;
}

.phone_number {
  background-color: #f9ec7e;
  grid-column: 5 / 12;
  grid-row: 3 / 3;
  border-radius: 0.5rem;
}

.messages {
  background-color: #f9ec7e;
  grid-column: 1 / 12;
  grid-row: 4 / 8;
  border-radius: 0.5rem;
}

input,
textarea {
  border-radius: 0.5rem;
  border-color: #f9ec7e;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

input::placeholder,
textarea::placeholder {
  color: #c7395f;
}

@media screen and (min-width: 360px) {
  #container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    text-align: center;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 480px) {
  #container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    text-align: center;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  #container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    text-align: center;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  #container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    text-align: center;
    font-size: 1.2rem;
  }
}

#first_project,
#second_project,
#third_project,
#fourth_project,
#fifth_project,
#sixth_project {
  background-color: #fbe1dc;
  border-radius: 0.5rem;
  height: 10em;
  border-width: 16em;
}

button {
  background-color: #f9ec7e;
  grid-column: 5 / 8;
  grid-row: 8 / 9;
  border-radius: 0.5rem;
  border-color: #f9ec7e;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

footer {
  text-align: center;
  font-size: 1.2rem;
  background-color: #de9dc2;
  border-radius: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
