<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JialuXu_Ellie_Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <!-- Navbar -->
     <nav class="navbar">
      <div class="container">
        <h1 class="navbar-title">Ellie's Portfolio</h1>
        <div class="navbar-links">
          <a href="#home" class="navbar-button">Home</a>
          <a href="#about-me" class="navbar-button">About Me</a>
          <a href="#projects" class="navbar-button">Projects</a>
          <a href="#footer" class="navbar-button">Contact</a>
        </div>
      </div>
     </nav>

    <!-- Home Page -->
    <main>
      <section id="home" class="home">
          <div class="home-text">
            <div class="home-title">
              <h2 class="home-page">I am <span class="home-name">Ellie</span> <span class="waving-hands">👋🏼</span></h2>
            </div>
            <div class="home-subtitle">
              <p class="introduction">
                I am a Computer Science - Fintech & AI Graduate | Building Innovative Financial Solutions.
              </p>
            </div>
          </div>
      </section>
    </main>

    <!-- About Me -->
    <section id="about-me" class="section">
      <div class="about-me-container">
        <div class="about-me-content">
          <div class="about-me-text">
            <div class="text-container">
              <h2 class="about-me-title">About Me</h2>
              <p class="about-me-text">
                I'm a recent Computer Science graduate with a major in Fintech from HKPolyU. 
                My passion for technology and finance drives me to create innovative solutions 
                for the Technology industry. Inspired by my travels across Europe and Asia, 
                I bring a global perspective and adaptability to problem-solving.
              </p>
              <p class="about-me-text">
                My academic projects focused on financial data analysis, blockchain, 
                and user-friendly applications. I'm skilled in Python, JavaScript, 
                React, SQL, and data visualization, with a strong foundation in teamwork 
                and communication from group projects and travel experiences.
              </p>
              <div class="button-group">
                <a href="" target="" class="github-button">Github</a>
                <a href="" target="" class="linkedin-button">LinkedIn</a>
              </div>
            </div>
          </div>
          <div class="about-me-image">
            <div class="image-placeholder">
              <span class="placeholder-text">Image Placeholder</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Projects -->
    <section id="projects" class="section">
      <div class="projects-container">
        <h2 class="projects-title">Projects</h2>
        <div class="projects-list">
          <div class="project-row">
            <a href="https://github.com/ju-nmd2023/wuid-portfolio-xujialuellie" class="clickable-content project-title">Personal Portfolio Project - Ellie - Jönköping University</a>
          </div>
          <div class="project-row">
            <a href="https://github.com/ju-nmd2023/wuid-project-group-14" class="clickable-content project-title">Business Group Project - Terra - Jönköping University</a>
          </div>
          <div class="project-row">
            <a href="https://github.com/xujialuellie/buildspace-dao-starter" class="clickable-content project-title">Buildspace x Thirdweb - DAO - PolyU GDSC</a>
          </div>
          <div class="project-row">
            <a href="#" class="clickable-content project-title">Project 4</a>
          </div>
          <div class="project-row">
            <a href="#" class="clickable-content project-title">Project 5</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="footer-container">
        <div class="footer-column">
          <h3>Let's keep in touch</h3>
          <form action="/submit-email" method="POST" class="email">
            <input type="email" name="email" placeholder="Your Email Address..." required>
            <button type="submit" class="submit-button">Submit</button>
            <!-- Popup box -->
            <div id="popupBox" class="popup">
              <div class="popup-content">
                <span id="closePopup" class="close">&times;</span>
                <h2 id="popupTitle"></h2>
                <p id="popupMessage"></p>
              </div>
            </div>
          </form>
        </div>
        <div class="footer-column">
          <h3>Links</h3>
          <div class="footer-contents">
            <a href="#home">Home</a>
            <a href="#about-me">About Me</a>
            <a href="#projects">Projects</a>
          </div>
        </div>
        <div class="footer-column">
          <h3>Resources</h3>
          <div class="footer-contents">
            <a href="#blog">Blog</a>
            <a href="#tutorials">Tutorials</a>
            <a href="#tools">Tools</a>
          </div>
        </div>
        <div class="footer-credits">
          <p>Designed & Built by Ellie &copy; 2025</p>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
